openapi: 3.0.0

info:
 version: '0.1'
 title: 'LBAW GrabNBuild Web API'
 description: 'Web Resources Specification (A7) for GrabNBuild'
 
servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Products'
 - name: 'M03: Reviews and Wish list'
 - name: 'M04: Orders'
 - name: 'M05: User Administration and Static pages'
 
 
paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'
        
 /logout:
   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                - email
                - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /users/{id}:
   get:
     operationId: R106
     summary: 'R106: View user profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M01: Authentication and Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'
 /api/products:
    get:
      operationId: R202
      summary: 'R202: Search Products API' #different search functions per type of product? since different specs
      description: 'Searches for products and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: price
          description: Float with the product price
          schema:
            type: number
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the product classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    #obs:
                    #  type: string
                    #year:
                    #  type: string
                    #owner:
                    #  type: string
                    #type:
                    #  type: string

 /api/cpu:
    get:
      operationId: R202
      summary: 'R202: Search CPU API' 
      description: 'Searches for CPUs and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: basefreq
          description: Float with the basefreq
          schema:
            type: number
          required: false
        - in: query
          name: turbofreq
          description: Float with the turbofreq
          schema:
            type: number
          required: false
        - in: query
          name: socket
          description: String for socket
          schema:
            type: string
          required: false
        - in: query
          name: threads
          description: Integer corresponding to threads
          schema:
            type: integer
          required: false
        - in: query
          name: cores
          description: Integer corresponding to cores
          schema:
            type: integer
          required: false
        - in: query
          name: price
          description: Float with the product price
          schema:
            type: number
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the product classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                  
 /api/gpu:
    get:
      operationId: R202
      summary: 'R202: Search GPU API' 
      description: 'Searches for GPUs and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: memory
          description: Int with memory
          schema:
            type: integer
          required: false
        - in: query
          name: coreclock
          description: Int with the coreclock
          schema:
            type: integer
          required: false
        - in: query
          name: boostclock
          description: Int for boostclock
          schema:
            type: integer
          required: false
        - in: query
          name: boostclock
          description: Integer corresponding to boostclock
          schema:
            type: integer
          required: false
        - in: query
          name: hdmiports
          description: Integer corresponding to hdmi ports
          schema:
            type: integer
          required: false
        - in: query
          name: dispports
          description: Integer corresponding to display ports
          schema:
            type: integer
          required: false
        - in: query
          name: price
          description: Float with the product price
          schema:
            type: number
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the product classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                  
 /api/motherboard:
    get:
      operationId: R202
      summary: 'R202: Search Motherboards API' 
      description: 'Searches for motherboards and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: socket
          description: String for socket
          schema:
            type: string
          required: false
        - in: query
          name: type
          description: String for motherboardtype
          schema:
            type: string
          required: false
        - in: query
          name: price
          description: Float with the product price
          schema:
            type: number
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the product classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                  
 /api/storage:
    get:
      operationId: R202
      summary: 'R202: Search Storage API' 
      description: 'Searches for storage and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: capacity
          description: Int for storage capacity
          schema:
            type: integer
          required: false
        - in: query
          name: type
          description: String for storagetype
          schema:
            type: string
          required: false
        - in: query
          name: price
          description: Float with the product price
          schema:
            type: number
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the product classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: