body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
  }
  
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.aboutus-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
.aboutus-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
  
.aboutus-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
  
.aboutus-container {
    padding: 0 16px;
}
  
.aboutus-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.aboutus-title {
    color: grey;
}
  
.aboutus-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.aboutus-button:hover {
    background-color: #555;
}