:root{
  --website-main-color: #0d6efd;
}

html{
  overflow-y: scroll;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
}

a{
  text-decoration: none; 
  color: var(--website-main-color)
}

a:hover{
  color: var(--website-main-color);
}

input:focus{
  border-color: var(--website-main-color);
  box-shadow: none !important;
}

.dropdown-toggle{
  background: none;
  border: none;
}

.btn.btn-primary{
  border-color: var(--website-main-color);
  background-color: var(--website-main-color);
  opacity: 0.8;
}

.btn.btn-primary:hover{
  opacity: 1;
}

.profile-title{
  font-size: 24px;
  font-weight: bold;
}

