:root{
  --website-main-color: #0d6efd;
}

/*!********************************** COMMON TAGS **********************************!*/
body{
  overflow-y: scroll;
}

footer, header{
  width: 100%;
}

a{
  text-decoration: none; 
  color: var(--website-main-color)
}

a:hover{
  color: var(--website-main-color);
}

input:focus{
  border-color: var(--website-main-color);
  box-shadow: none !important;
}

/*!********************************** COMMON TAGS **********************************!*/

#content{
  margin: 30px 8%;
}

.dropdown-toggle{
  background: none;
  border: none;
}

.btn.btn-primary{
  border-color: var(--website-main-color);
  background-color: var(--website-main-color);
  opacity: 0.8;
}

.btn.btn-primary:hover{
  opacity: 1;
}

.profile-title{
  font-size: 24px;
  font-weight: bold;
}

.price{
  color: var(--website-main-color);
  font-weight: bold;
}

